<div class="hero-unit">
  <h1>Velkommen til Ladania</h1>
  <p class="lead">Den verden vi lever i heddet Ladania. Den er opstået på ruinerne af to store civilisationer: barbarriget Trasold og et magerrige Elfian der havde sin storhedstid i slutningen af den første tidsalder. Konflikten mellem rigerne, blev til udryddelsen af begge riger. Som gav fundamentet og starten til den anden tidsalder, efter slaget ved Alfenheim.</p>
</div>